<%= form_tag search_tasks_path, method: 'get' do %>
  <%= text_field_tag :search_title, params[:search], placeholder: t("search_placeholder") %>
  <%= select_tag :search_status, options_select %>
  <%= submit_tag t("search") %>
<% end %>
<table>
  <thead>
    <tr>
      <th><%= t("title") %></th>
      <th><%= t("content") %></th>
      <th><%= t("start_time") %></th>
      <th><%= t("end_time") %></th>
      <th><%= t("status") %></th>
      <th colspan="2" ><%= t("action") %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <th><%= link_to task.title, task_path(task) %></th>
        <th><%= task.content %></th>
        <th><%= task.start_time.strftime('%Y-%m-%d %H:%M') %></th>
        <th><%= task.end_time.strftime('%Y-%m-%d %H:%M') %></th>
        <th><%= I18n.t("enums.task.status")[:"#{task.status}"] %></th>
        <th><%= link_to t("edit"), edit_task_path(task) %></th>
        <th><%= link_to t("delete"), task_path(task), method: :delete, data: { confirm: t("delete_confirm") } %></th>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to t("new_task"), new_task_path %>