<% if task.errors.any? %>
  <ul>
    <% task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(task) do |form| %>
  <div class="field">
    <%= form.label :title, t("title") %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content, t("content") %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :start_time, t("start_time") %>
    <%= form.datetime_field :start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time, t("end_time") %>
    <%= form.datetime_field :end_time %>
  </div>

  <div class="field">
    <%= form.submit %>
  </div>
<% end %>